{% extends 'base.html' %}
{% load static %}

{% block title %}
    애니메이션 상세
{% endblock %}
{% block css %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'style/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--- 전체 바디 ----->
    <div class="detail-body">
        <!--- 왼쪽단 상세설명 ----->
        <div class="left-body">
            <div class="anime-title-box">
                <p class="anime-title">{{ animation.title }}</p>
                <p class="recommend-count">
                    추천 수 : {{ animation.recommend_count }} <i class="fa-solid fa-heart"></i>
                </p>
            </div>
            <div class="anime-info-body">
                <img src="{{ animation.img }}"
                     class="detail-img">
                <div class="anime-description">
                    <div class="anime-description-detail-title">
                        <p class="original-title">원제</p>
                        <p>장르</p>
                        <p>제작사</p>
                        <p>시청 등급</p>
                        <p>방영 연도</p>
                        <p>회차</p>
                    </div>
                    <div class="anime-description-detail">
                        {% if animation.original_title == '' %}
                            <p class="anime-detail" style="height: 20px;">원제 정보 없음</p>
                        {% else %}
                            <p class="anime-detail" style="font-size: 14px; height: 20px;">{{ animation.original_title }}</p>
                        {% endif %}

                        {% if genre == '' %}
                            <p class="anime-detail">장르 정보 없음</p>
                        {% else %}
                            <p class="anime-detail">{{ genre }}</p>
                        {% endif %}

                        {% if animation.company == '' %}
                            <p class="anime-detail">제작사 정보 없음</p>
                        {% else %}
                            <p class="anime-detail">{{ animation.company }}</p>
                        {% endif %}

                        {% if animation.rated == '' %}
                            <p class="anime-detail">등급 정보 없음</p>
                        {% else %}
                            <p class="anime-detail">{{ animation.rated }}</p>
                        {% endif %}

                        {% if animation.broadcasted_date == '' %}
                            <p class="anime-detail">연도 정보 없음</p>
                        {% else %}
                            <p class="anime-detail">{{ animation.broadcasted_date }}</p>
                        {% endif %}

                        {% if animation.chapters == '' %}
                            <p class="anime-detail">회차 정보 없음</p>
                        {% else %}
                            <p class="anime-detail">{{ animation.chapters }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="anime-summary-box">
                <p class="summary-txt">줄거리</p>
                <p>{{ animation.story }}</p>
            </div>
            <div class="anime-btn-box">
                <button class="comment-btn" data-toggle="modal" data-target="#commentmodal">
                    <span>댓글 {{ comment_count }}개 보기</span>
                </button>
                <a href="/bookmark/{{ animation.id }}">
                    <button class="comment-btn">
                        {% if is_bookmark %}
                            북마크 삭제
                        {% else %}
                            북마크
                        {% endif %}
                    </button>
                </a>
                <a href="/recommend_toggle/{{ animation.id }}">
                    <button class="comment-btn">
                        {% if is_recommend %}
                            추천 취소
                        {% else %}
                            추천 하기
                        {% endif %}
                    </button>
                </a>
            </div>
        </div>
        <!--- 오른쪽단 애니추천 ----->
        <div class="right-body">
            <div class="genre-recommend">
                <div class="same-genre">
                    같은 장르 애니
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
            </div>
            <div class="user-recommend">
                <div class="same-anime-user">
                    이 애니를 본사람이 즐긴 애니
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
                <div>
                    <img src="https://img2.yna.co.kr/photo/yna/YH/2013/09/08/PYH2013090801520000500_P2.jpg"
                         class="recommend-img"> <span class="recommend-title">진격의 거인</span>
                </div>
            </div>
        </div>
        <!-- 댓글 모달 -->
        <div class="modal fade" id="commentmodal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 9999;">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="justify-content: center;">
                        <h5 class="modal-title" id="commentmodaltitle">댓글</h5>
                    </div>
                    <div class="modal-body">
                        <!-- 댓글 작성칸 -->
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="mt-0">댓글을 적어주세요</h5>
                                                <p>
                                                <form action={% url 'comment' animation.id %} method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-2">
                                                    <textarea class="form-control" style="resize: none"
                                                              name='my-content' id="my-content"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-dark"
                                                            style="float:right; background-color: rgb(50,50,50);">
                                                        작성하기
                                                    </button>
                                                </form>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- 작성 된 댓글이 나오는 곳 -->
                        {% for comment in comments %}
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-0">{{ comment.content }}</h5>
                                                </div>
                                                <div style="text-align: right">
                                                    <span style="font-size: small">{{ comment.author.username }}-{{ comment.created_at|timesince }}전</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% if comment.author == user %}
                                            <div style="text-align: right">
                                                <a href="/comment/delete/{{ comment.id }}">
                                                    <span class="badge rounded-pill bg-danger">삭제</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
