.detail-body {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    height: 1000px;
    max-width: 1220px;
    width: 100%;
    background-color: transparent;
    font-family: 'Poor Story', cursive;
}

.left-body {
    max-width: 800px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.right-body {
    /*background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);*/
    background-image: linear-gradient(to right bottom, #2c2c2c, #2e2e2e, #303030, #323232, #343434, #373737, #393939, #3c3c3c, #404040, #444444, #484848, #4c4c4c);
    max-width: 440px;
    width: 30%;
    height: 800px;
    margin-left: 30px;
    margin-top: 24px;
}

.anime-title-box {
    /*background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);*/
    background-image: linear-gradient(to right bottom, #2c2c2c, #2e2e2e, #303030, #323232, #343434, #373737, #393939, #3c3c3c, #404040, #444444, #484848, #4c4c4c);
    margin-top: 15px;
    min-height: 60px;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
}

.anime-btn-box {
    /*background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);*/
    background-image: linear-gradient(to right bottom, #2c2c2c, #2e2e2e, #303030, #323232, #343434, #373737, #393939, #3c3c3c, #404040, #444444, #484848, #4c4c4c);
    white-space: nowrap;
    margin-top: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.anime-summary-box {
    /*background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);*/
    background-image: linear-gradient(to right bottom, #2c2c2c, #2e2e2e, #303030, #323232, #343434, #373737, #393939, #3c3c3c, #404040, #444444, #484848, #4c4c4c);
    margin-top: 15px;
    max-height: 800px;
    text-align: center;
    color: white;
    padding: 2px 10px 10px 10px;
}

.anime-title {
    color: white;
    font-size: 24px;
    padding: 14px 0 0 14px;
}

.anime-info-body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /*background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);*/
    background-image: linear-gradient(to right bottom, #2c2c2c, #303030, #343434, #383838, #3c3c3c, #404040, #454545, #494949, #4f4f4f, #545454, #5a5a5a, #606060);
}

.anime-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.anime-description-detail-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
}

.anime-description-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.anime-detail {
    margin-left: 10px;
    margin-top: 2px;
}

.anime-detail-original{
    margin-left: 10px;
    margin-top: 2px;
    height: 20px;
    font-size: 14px;
}

.anime-detail-company {
    margin-left: 10px;
    margin-top: 2px;
}

.detail-img {
    width: 300px;
    height: 410px;
    padding: 20px 0 20px 20px;
}

.recommended-anime {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

.recommend-img {
    width: 52px;
    height: 60px;
    margin-top: 10px;
}

.comment-btn, .recommend-btn, .bookmark-btn {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    margin: 15px 0 0 0;
    width: 200px;
    height: 30px;
    font-family: 'Poor Story', cursive;
    font-size: 18px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

}

.comment-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bookmark-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.recommend-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.modal-header {
    color: white;
}

.modal-content {
    background-color: rgb(30, 30, 30);
    width: 478px;
    height: 100%;
}

.modal-body {
    overflow: auto;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
}

.modal-body::-webkit-scrollbar-track {
    background-color: grey;
}

body.modal-open {
    overflow: hidden;
}

.genre-recommend {
    margin-left: 10px;
    height: 380px;
}

.user-recommend {
    margin-left: 10px;
}

.recommend-title {
    color: white;
    margin-left: 7px;
    max-width: 280px;
}

.recommend-count {
    color: white;
    margin: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap
}

.fa-solid {
    transform: scale(0.8);
}

.summary-txt {
    text-align: left
}

.same-genre {
    color: white;
    margin-top: 10px;
}

.same-anime-user {
    color: white;
    border-top: 1px solid rgb(55, 55, 55);
    margin-top: 10px;
    padding-top: 5px;
}

.original-title {
    height: 20px;
}


@media screen and (max-width: 820px) {
    .detail-body {
        display: flex;
        flex-direction: column;
    }

    .left-body {
        max-width: 818px;
        width: 100%;
        margin-top: -20px;
        padding-left: 10px;
        padding-right: 10px;
        max-height: 1600px;
        height: 100%;

    }

    .right-body {
        margin-top: 18px;
        max-width: 755px;
        padding-bottom: 30px;
        margin-bottom: 10%;
        height: 800px;
        width: 100%;
        background-image: none;
        background-color: transparent;
    }
    .modal-content {
        height: 900px;
    }


}

@media screen and (max-width: 640px) {
    .right-body {
        max-width: 380px;
        margin-left: 15px;
    }
    .anime-title {
        font-size: 16px;
    }

    .bookmark-btn, .comment-btn, .recommend-btn {
        width: 100px;
        font-size: 12px;
    }

    .detail-img {
        max-width: 200px;
        height: 250px;
        padding: 20px 0 20px 20px;
    }
    .original-title {
        display: none;
    }
    .anime-detail-original {
        display: none;
    }
    .anime-detail-company {
        height: 20px;
        font-size: 12px;
    }
    .anime-detail {
        height: 22px;
        width: 100px;
        font-size: 12px;
    }
    .recommend-count {
        font-size: 16px;
    }
    .anime-description {
        font-size: 12px;
    }
    .modal-content {
        width: 350px;
        height: 600px;
        margin-left: 7%;
        margin-top: 30%;
    }
}

