.detail-body {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    height: 1000px;
    max-width: 1300px;
    background-color: transparent;
    font-family: 'Poor Story', cursive;
}

.left-body {
    width: 800px;
    height: 500px;
    margin-top: 10px;
}

.right-body {
    background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);
    width: 300px;
    height: 800px;
    margin-left: 30px;
    margin-top: 24px;
}

.anime-title-box {
    background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);
    margin-top: 15px;
    min-height: 60px;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
}

.anime-btn-box {
    background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);
    white-space: nowrap;
    margin-top: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.anime-summary-box {
    background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);
    margin-top: 15px;
    max-height: 400px;
    text-align: center;
    color: white;
    padding: 2px 10px 10px 10px;
}

.anime-title {
    color: white;
    font-size: 24px;
    padding: 14px 0 0 14px;
}

.anime-info-body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background-image: linear-gradient(to right bottom, #1f1f1f, #242424, #282828, #2d2d2d, #323232);
}

.anime-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.anime-description-detail-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space: nowrap;
}
.anime-description-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.anime-detail {
    margin-left: 10px;
    margin-top: 2px;
}

.detail-img {
    width: 300px;
    height: 410px;
    padding: 20px 0 20px 20px;
}

.recommend-img {
    width: 52px;
    height: 60px;
    margin-top: 10px;
}

.comment-btn,.recommend-btn, .bookmark-btn {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    margin: 15px 0 0 0;
    width: 200px;
    height: 30px;
    font-family: 'Poor Story', cursive;
    font-size: 18px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

}

.comment-btn:hover {
    cursor : pointer;
    transform: scale(1.1);
}

.bookmark-btn:hover {
    cursor : pointer;
    transform: scale(1.1);
}

.recommend-btn:hover {
    cursor : pointer;
    transform: scale(1.1);
}



.modal-header {
    color: white;
}

.modal-content {
    background-color: rgb(30, 30, 30);
    width: 478px;
    height: 100%;
}

.modal-body {
    overflow: auto;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
}

.modal-body::-webkit-scrollbar-track {
    background-color: grey;
}

body.modal-open { overflow: hidden; }

.genre-recommend {
    margin-left: 10px;
    height: 380px;
}

.user-recommend {
    margin-left: 10px;
}

.recommend-title {
    color:white;
    margin-left: 7px;
}

.recommend-count {
    color: white;
    margin: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap
}

.fa-solid {
    transform: scale(0.8);
}

.summary-txt {
    text-align: left
}

.same-genre {
    color:white;
    margin-top: 10px;
}

.same-anime-user {
    color:white;
    border-top: 1px solid rgb(55, 55, 55);
    margin-top: 10px;
    padding-top: 5px;
}

.original-title {
    height: 20px;
}
