
.main-body {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: 'Poor Story', cursive;
}

.genre-header {
    display: inline-block;
    width: 97%;
    margin-top: 1%;
    margin-bottom: 0.5%;
    justify-content: center;
    color: white;
}

.genre-name {
    display: inline-block;
    text-align: left;
    float: left;
    margin-left: 3.5%;
    width: 10%;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
}

.more-button {
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    text-align: right;
    float: right;
    margin-right: 3.5%;
    width: 5%;
    color: white;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
}

.more-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
}

.genre {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 13.5%;
    max-width: 1560px;
    width: 100%;
    flex-wrap: wrap;
}

.anime-box {
    margin-left: 20px;
}

.card-img-top {
    width: 200px;
    height: 300px;
    border-radius: 30px;
}

.card-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 170px;
}

.card-genre {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.animation-info {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.animation-info:hover {
    transform: scale(1.1);
    position: relative;
}

@media screen and (max-width: 830px) {
    .genre-header {
        margin-top: 10%;
        margin-bottom: 4%;
        margin-right: 10%;
        max-width: 800px;
    }
    .genre {
        margin-left: 3%;
    }
    .card-img-top {
        max-width: 200px;
        max-height: 250px;
        border-radius: 30%;
    }
    .card-title {
        width: 200px;
        font-size: 14px;
    }

}

@media screen and (max-width: 770px){
    .genre {
        margin-left: 0;
    }
    .card-img-top {
        max-width: 180px;
        max-height: 230px;
        border-radius: 30%;
    }

}
@media screen and (max-width: 640px) {
    .genre {
        margin-left: 2%;
        float: left;
    }
    .genre-header {
        margin-top: 18%;
        max-width: 370px;
    }
    .anime-box {
        margin-left: 5px;
    }
    .card-img-top {
        width: 93px;
        height: 120px;
    }
    .card-title {
        width: 93px;
        font-size: 14px;
    }
    .genre-name {
        transform: scale(0.8);
    }
    .more-button {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 390px) {
    .genre-header {
        margin-top: 20%;
        max-width: 320px;
    }
    .card-img-top {
        width: 80px;
        height: 100px;
    }
    .card-title {
        width: 80px;
        font-size: 14px;
    }
    .genre-name, .more-button {
        transform: scale(0.7);
    }

}