
.main-body {
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: 'Poor Story', cursive;
}

.genre-header {
    display: inline-block;
    width: 97%;
    margin-top: 1%;
    margin-bottom: 0.5%;
    justify-content: center;
    color: white;
}

.genre-name {
    display: inline-block;
    text-align: left;
    float: left;
    margin-left: 3.5%;
    width: 10%;
    font-size: 22px;
    font-weight: bold;
}

.more-button {
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    text-align: right;
    float: right;
    margin-right: 3.5%;
    width: 5%;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.more-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.25s ease-in-out;
}

.genre {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 8.5%;
    width: 1560px;

}

.anime-box {
    margin-left: 20px;
}

.card-img-top {
    width: 200px;
    height: 300px;
}

.card-title {
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 170px;
}

.card-genre {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.animation-info {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.animation-info:hover {
    transform: scale(1.1);
    position: relative;
}