{% extends 'base.html' %}
{% load static %}

{% block title %}
선호 장르 선택
{% endblock %}

{% block css %}
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="{% static 'style/genrepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- 헤더 외의 부분 -->
<div class="main-body">
    <!-- 안내문 -->
    <div class="notice">
        선호하는 장르 3가지를 아래에서 선택해주세요
    </div>

    <!-- 장르 선택창 -->
    <div class="genres">
        <!-- 1줄 단위 -->
        <div class="genre-row">
            <!-- 1칸 단위 -->
            <div class="genre-info" onclick="like_click(drama)">
                <img src="../static/image/drama.png"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="drama">드라마</h3>
                </div>
            </div>
            <div class="genre-info" onclick="like_click(omnibus)">
                <img src="../static/image/omnibus.png"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="omnibus">옴니버스</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/fantasy.png" onclick="like_click(fantasy)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="fantasy">판타지</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/battle.png" onclick="like_click(battle)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="battle">전투</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/adventure.png" onclick="like_click(adventure)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="adventure">모험</h3>
                </div>
            </div>
        </div>
        <div class="genre-row">
            <div class="genre-info">
                <img src="../static/image/school.png" onclick="like_click(school)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="school">학원</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/daily.png" onclick="like_click(daily)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="daily">일상</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/romance.png" onclick="like_click(romance)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="romance">로맨스</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/horror.png" onclick="like_click(horror)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="horror">공포</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/suspense.png" onclick="like_click(suspense)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="suspense">서스펜스</h3>
                </div>
            </div>
        </div>
        <div class="genre-row">
            <div class="genre-info">
                <img src="../static/image/mystery.png" onclick="like_click(mystery)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="mystery">미스테리</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/munchkin.png" onclick="like_click(munchkin)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="munchkin">먼치킨</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/SF.png" onclick="like_click(SF)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="SF">SF</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/comedy.png" onclick="like_click(comedy)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="comedy">코미디</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/isekai.png" onclick="like_click(isekai)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="isekai">이세계</h3>
                </div>
            </div>
        </div>
        <div class="genre-row">
            <div class="genre-info">
                <img src="../static/image/family.png" onclick="like_click(family)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="family">가족</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/sports.png" onclick="like_click(sports)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="sports">스포츠</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/crime.png" onclick="like_click(crime)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="crime">범죄</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/monster.png" onclick="like_click(monster)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="monster">요괴</h3>
                </div>
            </div>
            <div class="genre-info">
                <img src="../static/image/history.png" onclick="like_click(history)"
                     class="card-img-top" style="width: 120px; height: 110px;">
                <div class="card-body">
                    <h3 class="genre-title" id="history">시대</h3>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function like_click(id) {
            var genre = $(id).text();
            if (genre.substr(-1)!='❤') {
                $(id).text('❤ '+genre+' ❤');
                document.getElementById(id).style.color = 'red';
            }
            else {
                $(id).text(genre.slice(2, -2));
            }
        }
    </script>
{% endblock %}